  
/** Navbar, overriding bootstraps default colors for background, borders, some elements position etc. **/
#header-nav {
	background-color: #6699ff;
	border-color: #00001a;
	border-radius: 0;
	border: 0;
}

.navbar-default .navbar-toggle {
	border-color: #6FD2B5;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e6e6ff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #6FD2B5;
}

.navbar-nav {
	margin: 0px -15px;
}
li {
	border-bottom: 1px solid #6FD2B5;
}

li:last-child {
    border-bottom: none;
}
li:hover {
	background-color: #e6e6ff;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-nav .text-center .menu-list {
	color: black;
	font-weight: 700;
}
.navbar-header .navbar-brand {
	color: black;
	font-weight: bold;
	font-size: 200%;
}
/** END navbar **/

/**Main Content**/
h1 {
	margin-bottom: 20px;
}

article {
	padding: 5px 15px 10px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 10px;
}

#chicken {
	background-color: #ffb3d9;
}
#beef {
	background-color: #ffb3d9;
}

#sushi {
	background-color: #ffb3d9;
}